<!DOCTYPE html>
<html>
<head>
    <!--TODO A stylesheet rule in style.css gets updated in App.js. Make sure main.css remains the top stylesheet, or make this more robust!-->
  <link rel='stylesheet' type='text/css' href='css/style.css'>
  <link href='http://fonts.googleapis.com/css?family=Fauna+One|Muli:300|Marmelad|Open+Sans:300,400' 
        rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/lib/sweet-alert.css">
</head>

<body>


	<!-- ********* APP VIEW ********* -->

	<div id="app" 
	     ondrop="imageDrop(event)" 
	     ondragenter="imageDragenter(event)" 
	     ondragover="imageDragover(event)" 
	     v-style="background: currentTheme.backgroundColour">


		<!-- ********* BACKGROUND IMAGE VIEW ********* -->

		<img id="backgroundImage" 
		     onmousemove="mouseOverApp(event)" 
		     v-attr="src: image" 
		     v-show="hasImage" 
		     v-style="opacity: backgroundOpacity"/>
		

		<input id="export_file" 
		       type="file" 
		       nwsaveas 
		       style="display:none" 
		       nwworkingdir=""/>
		<input style="display:none;" 
		       id="open_file" 
		       type="file" />
		<div id="page" 
		     onmousemove="mouseOverText(event)" 
		     v-class="shifted: showingThemes" 
		     v-style="font-family: currentTheme.fontStyle, 
		              font-size: currentTheme.fontSize, 
		              width: currentTheme.textWidth, 
		              height: currentTheme.textHeight">
			<div onkeydown="typedSomething(event)" 
			     id="text" 
			     contenteditable="true" 
			     v-style="line-height: currentTheme.lineSpacing, 
			              color: currentTheme.fontColour">
			</div>
		</div>
		<div id="dropwrapper"></div>
		<div id="transparencylayer" 
		     v-class="shifted: showingThemes" 
		     v-style="opacity: currentTheme.editorOpacity, 
		              width: currentTheme.textWidth, 
		              height: currentTheme.textHeight">
		</div>
		<div id="themebutton" 
		     v-on="click: toggleThemes" 
		     v-class="active: showingThemes, 
		              faded: faded, 
		              lessfaded : lessfaded">
  				Themes
  				<i class="fa fa-paint-brush"></i>
  		</div>


		<!-- ********* THEMES VIEW ********* -->

		<div id="themelayer" 
		     v-class="active: showingThemes">
			<div class="themecard" 
			     v-repeat="theme: themes" 
			     v-on="click: select($index)" 
			     v-class="active: theme.selected, 
			              settingsview: theme.viewSettings">
				<div class="themepreviewcontainer" 
				     v-style="opacity: theme.backgroundOpacity">
					<img class="themeimage" 
					     v-attr="src: theme.image"/>
					<div class="themepreview" 
					     v-style="font-family: theme.fontStyle, 
					              font-size: theme.fontSize, 
					              color: theme.fontColour, 
					              background: theme.backgroundColour, 
					              opacity: theme.editorOpacity">
						<div class="themepreviewtext">
							Lorem ipsum dolor sit amet, ex vel agam mediocrem. Eu vix mentitum recteque, eum cu etiam interesset, vix ut saperet vituperata. 
							<br>
							<br>
							Congue impetus placerat in duo, ei alienum epicuri constituam qui. Eum sumo reprimique signiferumque in, cum choro habemus inciderint in. Eu mea aliquam forensibus. Quo ut mollis accumsan.
							<br>
							<br>
							Tempor vivendo ullamcorper ius ne, eam sonet euismod ex. Sed an veniam adipiscing, vel ad aeterno tacimates. Quo an alii mundi aperiri, ius stet feugiat sensibus cu. Id velit consequat sit. Mea id ferri exerci consulatu, atqui laudem propriae ei vix. At choro soleat qui.  
						</div>
					</div>
				</div>
				<div class="themesettings">
				    <div class="cardiconwrapper" 
				         v-on="click: theme.viewSettings = !theme.viewSettings">
				    	<i class="fa fa-ellipsis-h cardicon"></i>
				    </div>
					<div class="cardiconwrapper"></div>
					<div class="cardiconwrapper"></div>
					<div class="cardiconwrapper"></div>
					<div class="cardiconfiller"></div>
					<div class="cardiconwrapper" v-on="click: removeTheme($index)">
						<i class="fa fa-trash cardicon"></i>
					</div>
				</div>
				<div class="themesettingsmenu" v-show="theme.viewSettings">
					<div class="settingspadder"></div>
					<div class="settingsname">Fonts</div>
					<span class="settingslabel">Style:</span>
					<select v-on="change: setFontStyle(theme)">
						<option 
						   v-repeat="style: styles" 
						   v-text="style" 
						   v-attr="selected: style === theme.fontStyle"
						 />
					</select>
					<div class="settingspadder"></div>
					<span class="settingslabel">Size:</span>
					<input v-attr="placeholder: theme.fontSize"
						   v-on="keyup: setFontSize(theme)"
						   v-model="theme.fontSize"/>
					<div class="settingsname">Colours</div>
					<span class="settingslabel" >Font:</span>
					<input v-attr="placeholder: theme.fontColour"
						   v-on="keyup: setFontColour(theme)"
						   v-model="theme.fontColour"/>
					<div class="settingspadder"></div>
					<span class="settingslabel">Back:</span>
					<input v-attr="placeholder: theme.backgroundColour"
						   v-on="keyup: setBackgroundColour(theme)"
						   v-model="theme.backgroundColour"/>
					<div class="settingsname">Spacing</div>
					<span class="settingslabel">Line:</span>
					<input v-attr="placeholder: theme.lineSpacing"
						   v-on="keyup: setLineSpacing(theme)"
						   v-model="theme.lineSpacing"/>
					<div class="settingspadder"></div>
					<span class="settingslabel">Para:</span>
					<input v-attr="placeholder: theme.paragraphSpacing"
						   v-on="keyup: setParagraphSpacing(theme)"
						   v-model="theme.paragraphSpacing"/>
					<div class="settingsname">Editor Sizing</div>
					<span class="settingslabel">Width:</span>
					<input v-attr="placeholder: theme.textWidth"
						   v-on="keyup: setTextWidth(theme)"
						   v-model="theme.textWidth"/>
					<div class="settingspadder"></div>
					<span class="settingslabel">Height:</span>
					<input v-attr="placeholder: theme.textHeight"
						   v-on="keyup: setTextHeight(theme)"
						   v-model="theme.textHeight"/>
					<div class="settingsname">Transparency</div>
					<span class="settingslabel">Back:</span>
					<input v-attr="placeholder: theme.backgroundOpacity"
						   v-on="keyup: setBackgroundOpacity(theme)"
						   v-model="theme.backgroundOpacity"/>
					<div class="settingspadder"></div>
					<span class="settingslabel">Editor:</span>
					<input v-attr="placeholder: theme.editorOpacity" 
						   v-on="keyup: setEditorOpacity(theme)"
						   v-model="theme.editorOpacity"/>
					<div class="settingspadder"></div>
					<div class="settingspadder"></div>
					<div class="settingspadder"></div>
					<div class="settingspadder"></div>
					<button v-on="click: clearChanges">Reset Theme</button>
				</div>
			</div>
			<br>
			<i id="addTheme" class="fa fa-plus-circle fa-5x" v-on="click: addTheme"></i>
			<p></p>
			<p></p>
		</div>


		<!-- ********* STATUS BAR VIEW ********* -->

		<div id="statusbarwrapper">
			<div id="statusbar" v-class="active: locked"> 
				<div id="timer">
					<span id="minutes">60</span>
					<span id="seconds">00</span>
				</div>
				<div id="pausewrapper" v-on="click: pause(event)">
					<div class="circle">
						<i class="fa fa-pause"></i>
					</div> 
				</div>
				<div id="healthbarwrapper">
					<div id="healthbar"></div>
				</div>
				<div id="wordcountwrapper">
					<span id="wordcount">0</span>
					<span id="words">words</span>
				</div>
				<i id="statuslock" 
				   class="fa" 
				   v-on="click: toggleLock" 
				   v-class="fa-lock: locked, 
				            fa-unlock-alt: !locked"></i>
			</div>
		</div>
	</div>
</body>
<!--Libraries-->
<script src="js/lib/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="js/lib/store.min.js" type="text/javascript"></script>
<script src="js/lib/vue.min.js" type="text/javascript"></script>
<script src="js/lib/sweet-alert.min.js"></script>
<!--Source-->
<script src="js/src/image.js" type="text/javascript"></script>
<script src="js/src/statusbar.js" type="text/javascript"></script>
<script src="js/src/dragdrop.js" type="text/javascript"></script>
<script src="js/src/menu.js" type="text/javascript"></script>
<script src="js/src/themes.js" type="text/javascript"></script>
<script src="js/src/App.js" type="text/javascript"></script>
</html>


